{% extends "template.html" %}
    {% block title %}Blogs{% endblock %}
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    {% endblock %}
    {% block navbar %}
    {% endblock %}
    {% block content %}<div class="container">
    <a href={{url_for('write_post_page')}} ><button type="writePost"  name="say" id="submit" value="process" class="btn btn-primary"><i class="fa fa-reply"></i> Write a post</button></a>
    <div class="col-md-12">
        <h1>Alice in Wonderland, part dos</h1>
        <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
        'Yes, we went to school in the sea, though you mayn't believe it—'
        'I never said I didn't!' interrupted Alice.
        'You did,' said the Mock Turtle.</p>
        <div>
    <span class="badge">Posted 2012-08-02 20:47:04</span><div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
    <span class="label label-danger">Danger</span></div>
    </div>
    {% endblock %}