{% extends "template.html" %}
{% block title %}Authors{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='authors.css') }}" />
{% endblock %}
{% block navbar %}

{% endblock %}
{% block content %}
    <div class="wrapper">
        <table id="acrylic">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Birth Date</th>
                    <th>Country</th>
                    <th>Pen Name</th>

                </tr>
            </thead>
            <tbody>
            {% for id, name, lastname, birthdate, nationality, penname in authors %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ lastname }}</td>
                    <td>{{ birthdate }}</td>
                    <td>{{ nationality }}</td>
                    <td>{{ penname }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>


{% endblock %}

