{% extends "template.html" %}
{% block title %}Authors{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='authors.css') }}" />
{% endblock %}
{% block navbar %}

{% endblock %}
{% block content %}
    <div class="wrapper">
        <table id="acrylic">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Birth Date</th>
                    <th>Country</th>
                    <th>Last Book</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>İlay</td>
                    <td>Köksal</td>
                    <td>1995</td>
                    <td>Turkey</td>
                    <td>Darbenin Adı</td>
                </tr>
            </tbody>
            <tr>
                    <td>Metehan</td>
                    <td>Gültekin</td>
                    <td>1995</td>
                    <td>Turkey</td>
                    <td>Allah De Ötesini Bırak</td>
                </tr>
        </table>
    </div>


{% endblock %}

