{% extends "template.html" %}
{% block title %}Author{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='authorpage.css') }}" />
{% endblock %}
{% block navbar %}

{% endblock %}
{% block content %}
{% for id, name, lastname, birthdate, nationality, penname,description,picture  in author %}
   

<div class="container">
  <div class="row">
    <div class="span2">
      <img src={{ picture }}  alt="" class="img-rounded">
    </div>
    <div class="span4">
      <blockquote>
        <p>{{name}} {{lastname}}</p>
        <small><cite title="Source Title">{{nationality }} <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        <i class="icon-globe"></i> Penname: {{ penname }} <br>
        <i class="icon-gift"></i> {{ birthdate }}
        
      </p>
    </div>
 
{% endfor %}



<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="page-header">
            	<h1><small class="pull-right"></small> Comments </h1>
                  	</div> 
                   		<div class="comments-list">
         			 	{% for id,username,comment in comments %}
         			 		<div class="media">
                          		<p class="pull-right"><small>Past</small></p>
                            <div class="media-body">
                                
                              <h4 class="media-heading user_name"> {{username}} </h4>
                              
                            	<div class="comment-content">
								{{comment}}
								</div>
								
                              	<form method="POST">
                              		<input type = "hidden" name = "commentid" value = {{ id }}>
                              		<button type="submit" name="Delete" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-edit"></span>Delete</button>
                              	</form>
                              	
                            </div>
                          </div>
                      {% endfor %}
                   </div>
                   
                          
                </div>
            </div>
        </div>
        
        
        

<div class="container">

	<div class="row">
	</div>
    
    <div class="row">
    
    <div class="col-md-6">
    	<div class="widget-area no-padding blank">
			<div class="status-upload">
				<form method="POST">
					<textarea placeholder="What do you feel about this Author?" name="comment" ></textarea>
					<input type = "hidden" name = "authorid" value = {{ author.id }}>
					<button type="submit" name="Add" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
				</form>
			</div><!-- Status Upload  -->
		</div><!-- Widget Area -->
	</div>
        
    </div>
</div>



{% endblock %}
