{% extends "template.html" %}
{% block title %}Blogs{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<div class="container">
<a href={{url_for('write_post_page')}} ><button type="writePost"  name="say" id="submit" value="process" class="btn btn-primary"><i class="fa fa-reply"></i> Write a post</button></a>
{% for name, date, header, text in blogs %}
<div class="col-md-12">
    <h1>{{header}}</h1>
    <p>{{text}}</p>
    <div>
		<span class="badge">Posted {{date}}</span><div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
		<span class="label label-danger">{{name}}</span></div>
     </div>

</div>
{% endfor %}
</div>
{% endblock %}