{% extends "template.html" %}
{% block title %} 1984 - George Orwell {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='tab_menu.css') }}" />
{% endblock %}
{% block navbar %}
<ul class="nav navbar-nav">
		                        <li><a href="#">Science</a></li>
		                        <li><a href="#">Art</a></li>
		                        <li><a href="#">History</a></li>
		                        <li><a href="#">Literature</a></li>
		                        <li class=" dropdown">
		                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">*** <span class="caret"></span></a>
		                            <ul class="dropdown-menu">
				                        <li><a href="#">Philosophy</a></li>
				                        <li><a href="#">Education</a></li>
				                        <li><a href="#">Religion</a></li>
				                        <li><a href="#">Economy</a></li>
				                        <li><a href="#">Foreign Languages</a></li>
		                                <li><a href="#">Culture</a></li>
		                                <li><a href="{{ url_for('book_page') }}">Book</a></li>
		                            </ul>
		                        </li>
		                    </ul>
		                    <ul class="nav navbar-nav pull-right">
		                        <li class=""><a href={{url_for('profile_page')}}>Profile</a></li>
		                    </ul>


{% endblock %}
{% block content %}
<div class="row">
					        <div class="col-sm-3">
					            <img src="static/book_covers/1984_orwell.jpg" hspace="50" style="width:170px;height:300px;">
					        </div>
					        <div class="col-sm-9">
					            <div class="tab-content">
					                <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
					                    <h2>1984</h2>
					                    <h3>George Orwell</h3>
					                    <p>The year 1984 has come and gone, but George Orwell's prophetic, nightmarish vision in 1949 of the world we were becoming is timelier than ever. 1984 is still the great modern classic of "negative utopia" -a startlingly original and haunting novel that creates an imaginary world that is completely convincing, from the first sentence to the last four words. No one can deny the novel's hold on the imaginations of whole generations, or the power of its admonitions -a power that seems to grow, not lessen, with the passage of time.</p>
					                </div>
					            </div>
					        </div>
					    </div>
{% endblock %}




