{% extends "admin_template.html" %}
{% block title %}Admin Panel - Update Book{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	<div class="container">
		<form class="form-horizontal" method="POST">
<fieldset>

<!-- Form Name -->
<legend>Update Book</legend>

<!-- Text input-->
{% for id, title, year, author_id, genre_id in updatebook %}
<div class="form-group">
  <label class="col-md-4 control-label" for="title">Title</label>
  <div class="col-md-4">
  <input id="title" name="title" type="text" value="{{ title }}" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="year">Year</label>
  <div class="col-md-4">
  <input id="year" name="year" type="text" value="{{ year }}"  placeholder="" class="form-control input-md" equired="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="author_id">Author</label>
  <div class="col-md-4">
  <input id="author_id" name="author_id" type="text" value="{{ author_id }}" placeholder="" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="genre_id">Genre</label>
  <div class="col-md-4">
  <input id="genre_id" name="genre_id" type="text" value= "{{ genre_id }}"  placeholder="" class="form-control input-md" required="">

  </div>
</div>

<input name ="updateid" type="hidden" value = "{{ id }}">
<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Update"></label>
  <div class="col-md-8">
    <button id="Add" name="Update" class="btn btn-success">Update</button>
    <button id="Cancel" name="Cancel" class="btn btn-danger">Cancel</button>
  </div>
</div>
{% endfor %}
</fieldset>
</form>
	</div>
{% endblock %}