{% extends "template.html" %}
{% block title %}Books{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='groups.css') }}" />
{% endblock %}
{% block navbar %}

{% endblock %}
{% block content %}


<div class="container">
    <div class="row col-md-20  ol-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Author</th>
            <th>Genre</th>
            <th class="text-center">Like</th>
            <th class="text-center">Suggest</th>
        </tr>
    </thead>

            {% for id, title, year, author, genre in books %}
            <tr>
            <form method="POST" role="form">
            	<input type = "hidden" name = "id" value={{ id }}>
                <td name="title"><button href="{{ url_for('book') }}" type="submit" name="Book" class="btn btn-link btn-s"><span class="glyphicon glyphicon-book"></span> {{ title }} </button></td>
                </form>
                <td name="year">{{ year }}</td>
                <td name="author_id">{{ author }}</td>
                <td name="genre_id">{{ genre }}</td>
            <form method="POST" role="form">
                <input type = "hidden" name = "id" value={{ id }}>
                <td class="text-center"><button href="{{ url_for('book_page') }}" type="submit" name="Like" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-heart"></span> Like </button></td>
                <td class="text-center"><button href="{{ url_for('book_page') }}" type="submit" name="Suggest" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-star"></span> Recommend  </button></td>
        </form>
            </tr>
        {% endfor%}
    </table>
    </div>
</div>

{% endblock %}

