{% extends "template.html" %}
{% block title %}Authors{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='group.css') }}" />
{% endblock %}
{% block navbar %}

{% endblock %}
{% block content %}

<form action="{{ url_for('groups_page') }}" method="post" role="form">
    <div class="container">
        <div class="row">
        <div class="input-group input-group-lg">
            <input type="text" name="groupname" class="form-control">
            <div class="input-group-btn">
                <button type="submit" name="Add" class="btn btn-default">Create<span></span></button>
            </div>
        </div>
        </div>
    </div>
</form>

{% endblock %}

  