{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" />
{% endblock %}
{% block navbar %}
	<div class="navbar-wrapper">
	    <div class="container-fluid">
	        <nav class="navbar navbar-fixed-top">
	            <div class="container">
	                <div class="navbar-header">
	                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    </button>
	      				<a class="navbar-brand" href={{url_for('home_page')}}><img src="static/book_logo_gray.png" width="110%" height="270%" style="padding-bottom: 30%;" border="0" /></a>
	      				<ul class="nav navbar-nav">
	                        <li><a href="#">Popular</a></li>
	                        <li><a href="#">Science</a></li>
	                        <li><a href="#">Art</a></li>
	                        <li><a href="#">History</a></li>
	                        <li><a href="#">Literature</a></li>
	                        <li class=" dropdown">
	                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">*** <span class="caret"></span></a>
	                            <ul class="dropdown-menu">
			                        <li><a href="#">Philosophy</a></li>
			                        <li><a href="#">Education</a></li>
			                        <li><a href="#">Religion</a></li>
			                        <li><a href="#">Economy</a></li>
			                        <li><a href="#">Foreign Languages</a></li>
	                                <li><a href="#">Culture</a></li>
	                            </ul>
	                        </li>
	                    </ul>
	                    <ul class="nav navbar-nav pull-right">
	                        <li class=""><a href={{url_for('profile_page')}}>Profile</a></li>
	                    </ul>
	                </div>
	            </div>
	        </nav>
	    </div>
	</div>
{% endblock %}
{% block content %}
{% endblock %}

