{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='timeline.css') }}" />
{% endblock %}
{% block content %}
<div class="container">

  <ul class="timeline">
	{% for date, username, bookname, feedtype in feed %}
	    <li>
	      <div class="tl-circ"></div>
	      <div class="timeline-panel">
	        <div class="tl-heading">
	          <h4>{{username}} {{bookname}} {{feedtype}}.</h4>
	          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{date}}</small></p>
	        </div>
	        <div class="tl-body">
	          <p>Lorem Ipsum and such.</p>
	        </div>
	      </div>
	    </li>
	{% endfor %}
  </ul>
</div>
{% endblock %}




