{% extends "template.html" %}
{% block title %}News{% endblock %}
{% block navbar %}
<ul class="nav navbar-nav">
	<li class=" dropdown">
	    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Books <span class="caret"></span></a>
	    <ul class="dropdown-menu">
	        <li class=" dropdown">
	            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New Releases</a>
	        </li>
	        <li><a href="#">Popular</a></li>
	    </ul>
	</li>
	<li><a href="#">Profile</a></li>
	<li class=" dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Authors<span class="caret"></span></a>
	    <ul class="dropdown-menu">
	        <li><a href="#">View Authors</a></li>
	    </ul>
	</li>
   </ul>
   <ul class="nav navbar-nav pull-right">
       <li class=""><a href={{url_for('news_page')}}>News</a></li>
   </ul>
{% endblock %}

{% block content %}

<div class="row">

					        <div class="col-sm-9">


					            <div class="container">

    <div class="row">
        <div class="col-sm-3">
            <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">Tabs</a>
            <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
              <li class="active"><a href="#vtab1" data-toggle="tab">Harry Potter Book Release</a></li>
              <li><a href="#vtab2" data-toggle="tab">Frankfurt Book Fair</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
                    <h3>Harry Potter and the Cursed Child</h3>
                    <p>Harry Potter and the Cursed Child released on 31th July 2016</p>


                </div>
                <div role="tabpanel" class="tab-pane fade" id="vtab2">
                    <h3>Frankfurt Book Fair</h3>
                    <p> Frankfurt Book Fair will take place from 19 to 23 October 2016</p>
                </div>
            </div>
        </div>
					        </div>
					    </div>
	            </div>
	        </nav>
	    </div>
	</div>

{% endblock %}
