<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Login - Register</title>
     <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	
	<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <body>
  	<div class="navbar-wrapper">
	    <div class="container-fluid">
	        <nav class="navbar navbar-fixed-top">
	            <div class="container">
	                <div class="navbar-header">
	                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    </button>
	      				<a class="navbar-brand" href={{url_for('home_page')}}><img src="static/book_logo_gray.png" width="110%" height="270%" style="padding-bottom: 30%;" border="0" /></a>              
	      				<ul class="nav navbar-nav">
	                        <li class="active"><a href="#" class="">Home</a></li>
	                        <li class=" dropdown">
	                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departments <span class="caret"></span></a>
	                            <ul class="dropdown-menu">
	                                <li class=" dropdown">
	                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View Departments</a>
	                                </li>
	                                <li><a href="#">Add New</a></li>
	                            </ul>
	                        </li>
	                        <li><a href="#">Add New</a></li>
	                        <li class=" dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Managers <span class="caret"></span></a>
	                            <ul class="dropdown-menu">
	                                <li><a href="#">View Managers</a></li>
	                                <li><a href="#">Add New</a></li>
	                            </ul>
	                        </li>
	                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff <span class="caret"></span></a>
	                            <ul class="dropdown-menu">
	                                <li><a href="#">View Staff</a></li>
	                                <li><a href="#">Add New</a></li>
	                                <li><a href="#">Bulk Upload</a></li>
	                            </ul>
	                        </li>
	                        <li class=" down"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HR <span class="caret"></span></a>
	                            <ul class="dropdown-menu">
	                                <li><a href="#">Change Time Entry</a></li>
	                                <li><a href="#">Report</a></li>
	                            </ul>
	                        </li>
	                    </ul>
	                    <ul class="nav navbar-nav pull-right">
	                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as  <span class="caret"></span></a>
	                            <ul class="dropdown-menu">
	                                <li><a href="#">Change Password</a></li>
	                                <li><a href="#">My Profile</a></li>
	                            </ul>
	                        </li>
	                        <li class=""><a href="#">Logout</a></li>
	                    </ul>
	                </div>
	            </div>
	        </nav>
	    </div>
	</div>
	<script type="text/javascript">
		$(function() {
	
		    $('#login-form-link').click(function(e) {
				$("#login-form").delay(100).fadeIn(100);
		 		$("#register-form").fadeOut(100);
				$('#register-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});
			$('#register-form-link').click(function(e) {
				$("#register-form").delay(100).fadeIn(100);
		 		$("#login-form").fadeOut(100);
				$('#login-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});
	
		});
	</script>
  </body>
</html>
