<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SocialReaders - {% block title %}{% endblock %}</title>

	<!-- jQuery library -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	
	
     <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}
</head>
<body>
	<div class="navbar-wrapper">
	    <div class="container-fluid">
	        <nav class="navbar navbar-fixed-top">
	            <div class="container">
	                <div class="navbar-header">
	                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
	                    </button>
                        <a href={{url_for('home_page')}} class="btn btn-info btn-lg">
				        	<span class="glyphicon glyphicon-book"></span> SocialReaders
				        </a>
	                </div>
	                <div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							{% if session.logged_in %}
		                        <li><a href={{url_for('book_page')}}>Books</a></li>
		                        <li><a href={{url_for('authors_page')}}>Authors</a></li>
		                        <li><a href={{url_for('news_page')}}>News</a></li>
		                        <li><a href={{url_for('blogs_page')}}>Blogs</a></li>
		                        <li><a href={{url_for('jobs_page')}}>Jobs</a></li>
		                        <li><a href={{url_for('groups_page')}}>Groups</a></li>
							{% endif %}
						</ul>
	                    <ul class="nav navbar-nav pull-right">
	                    	{% if session.logged_in %}
	                    		{% if session.isAdmin %}
	                    			<li class=""><a href="{{url_for('admin_index')}}">Admin Panel</a></li>
	                    		{% endif %}
	                    		<li class=" dropdown">
		                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user">{{ session.username }} <span class="caret"></span></a>
		                            <ul class="dropdown-menu">
				                        <li><a href="{{url_for('profile_page')}}"> Profile</a></li>
				                        <li><a href="{{url_for('messages_page')}}">Inbox</a></li>
		                            </ul>
		                        </li>
	                    		<li class=""><a href={{url_for('logout_page')}}>Log Out</a></li>
	                        {% else %}
		                        <li class=""><a href={{url_for('login_page')}}>Login</a></li>
		                        <li class=""><a href={{url_for('login_page',t='reg')}}>Register</a></li>
	                        {% endif %}
	                    </ul>
	                </div>
	            </div>
	        </nav>
	    </div>
	</div>
	{% block content %}{% endblock %}
</body>
</html>