{% extends "template.html" %}
{% block title %}Blogs{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
{% for id, header, text in post %}
<div class="container">
    	<div class="row">
    	<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
  <script>
          tinymce.init({
              selector: "textarea",
              menu: {
                table: {title: 'Table', items: 'inserttable tableprops deletetable | cell row column'}
              },
              plugins: [
                  "advlist autolink lists link image charmap preview anchor",
                  "searchreplace visualblocks code fullscreen",
                  "insertdatetime media table contextmenu paste"
              ],
              toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
          });
  </script>
  <hr>

                <!-- the comment box -->
                <div class="well">
                    <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
                    <form id="register-form" action={{url_for('update_post_page')}} method="post" role="form">
                        <div class="form-group">
                            <textarea type="text" name="text" id="text" class="form-control" rows="3">{{text}}</textarea>
                        </div>
    					<input type="hidden" name="userid" id="userid" value="{{id}}"></input>
                        <button type="submit" name="submit" id="submit" value="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Update</button>

                    </form>
                </div>
</script>
                <hr>
                <!-- the comments -->

            </div>
	</div>
	</div>
</div>
{% endfor %}
{% endblock %}