{% extends "admin_template.html" %}
{% block title %}Admin Panel - User Update{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	<div class="container">
		<form class="form-horizontal" action="{{ url_for('userAdd_page')}}" method="POST">
			<fieldset>	
				<!-- Form Name -->
				<legend>ADD USER</legend>
			
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="username">USERNAME</label>  
				  <div class="col-md-4">
				  <input id="username" name="username" value="" type="text" placeholder="" class="form-control input-md" required="">
				    
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="email">EMAIL</label>  
				  <div class="col-md-4">
				  <input id="email" name="email" value="" type="text" placeholder="" class="form-control input-md" required="">
				    
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="name">NAME</label>  
				  <div class="col-md-4">
				  <input id="name" name="name" value="" type="text" placeholder="" class="form-control input-md" required="">
				    
				  </div>
				</div>
				
				<div class="form-group">
				  <label class="col-md-4 control-label" for="surname">SURNAME</label>  
				  <div class="col-md-4">
				  <input id="surname" name="surname" value="" type="text" placeholder="" class="form-control input-md" required="">
				    
				  </div>
				</div>
				
				<div class="form-group">
				  <label class="col-md-4 control-label" for="password">PASSWORD</label>  
				  <div class="col-md-4">
				  <input id="password" name="password" type="password" placeholder="" class="form-control input-md" required="">  
				  </div>
				</div>
				
				<div class="form-group">
				  <label class="col-md-4 control-label" for="cfpassword">CONFIRM PASSWORD</label>  
				  <div class="col-md-4">
				  <input id="cfpassword" name="cfpassword" type="password" placeholder="" class="form-control input-md" required="">  
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="usertypeid">USERTYPEID</label>  
				  <div class="col-md-4">
				  <input id="usertypeid" name="usertypeid" value="" type="text" placeholder="" class="form-control input-md" required="">   
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="button1idFFF"></label>
				  <div class="col-md-8">
				    <button id="button1idFFF" name="add" class="btn btn-success">ADD</button>
				    <button id="button2id" name="cancel" class="btn btn-danger">CANCEL</button>
				  </div>
				</div>
			</fieldset>
		</form>
	</div>
{% endblock %}
